environment:

  matrix:

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.x"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5.x"
      PYTHON_ARCH: "64"

  # postgres
  POSTGRES_PORT: tcp://localhost:5432
  POSTGRES_ENV_POSTGRES_USER: postgres
  POSTGRES_ENV_POSTGRES_PASSWORD: Password12!
  POSTGRES_ENV_POSTGRES_DB: testdb
  POSTGRES_PATH: C:\Program Files\PostgreSQL\9.4
  PGUSER: postgres
  PGPASSWORD: Password12!

  # mysql
  MYSQL_PORT: tcp://localhost:3306
  MYSQL_ENV_MYSQL_USER: root
  MYSQL_ENV_MYSQL_PASSWORD: Password12!
  MYSQL_ENV_MYSQL_DATABASE: sqlectron
  MYSQL_PATH: C:\Program Files\MySql\MySQL Server 5.7
  MYSQL_PWD: Password12!

services:
  - mysql
  - postgresql94

init:
  - SET PATH=%POSTGRES_PATH%\bin;%MYSQL_PATH%\bin;%PATH%

install:
  - "%PYTHON%\\python.exe -m pip install --upgrade pip"
  - "%PYTHON%\\python.exe -m pip install wheel"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe -m pip install codecov"
  - "%PYTHON%\\python.exe -m pip install nose-cov"
  - "%PYTHON%\\python.exe -m pip install -U pytest"

  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "%PYTHON%\\python.exe -m  pip --version"
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - echo localhost:*:testdb:postgres:Password12! > C:\Program Files\PostgreSQL\9.4\pgpass.conf
  - echo "localhost:*:testdb:postgres:Password12!" > pgpass.conf
  - echo "localhost:*:testdb:postgres:Password12!" > %userprofile%\pgpass.conf
  - SET PGPASSFILE=C:\Program Files\PostgreSQL\9.4\pgpass.conf
  - set PGPASSWORD=Password12!

build_script:
  # postgres
  - createdb testdb
  # mysql
  - mysql -e "create database sqlectron;" --user=root
  - mysql -e "CREATE USER 'travis'@'localhost';GRANT ALL PRIVILEGES ON *.* TO 'travis'@'localhost';GRANT FILE ON *.* TO 'travis'@'localhost';" -uroot
  - dir
  - cd C:\projects\retriever
  - "python setup.py install"
  - echo "Installed retriever:"
  - retriever --version
  - cd C:\projects\retriever

test_script:
  - py.test -v
