argcomplete
coverage
future
h5py
inquirer
kaggle
numpydoc
openpyxl
pandas
Pillow
psycopg2-binary
PyMySQL>=0.4
requests
setuptools
sphinx_py3doc_enhanced_theme
sphinx_rtd_theme
sphinxcontrib-napoleon
tables
tqdm==4.66.3
xlrd>=0.7
